// Website colors

$primary: #333333;
$secondary: #EEEEEE;
$third: #AAAAAA;
$alt: #5A5A5A;

$alert-red: #B00000;
$alert-yellow: #B19000;
$alert-cyan: #33B3B3;
$alert-blue: #0070B0;
$alert-grey: #A0A0A0;