//
// Middle column - Main
//

.main {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  height: calc(100vh - 30px * 2);
  width: calc(100vw - 15% - 30px * 2);
  padding: 30px;
  .card {
    padding: 30px;
    border-radius: 20px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(50,50,50,0.45);
    -moz-box-shadow: 0px 0px 20px -10px rgba(50,50,50,0.45);
    box-shadow: 0px 0px 20px -10px rgba(50,50,50,0.45);
  }
  .content {
    width: calc(70% - 30px * 4);
    height: calc(100vh - 30px * 2);
    .graphic { height: calc(80vh - 30px * 4); }
    .sensors {
      height: calc(20vh - 30px * 3);
      margin-top: 30px;
    }
  }
  .alerts {
    @mixin alerts-color($color) {
      border-left: 6px $color solid;
      transition: 0.2s;
      &:hover { border-left: 10px $color solid; }
    }
    width: 30%;
    height: calc(100vh - 30px * 4);
    margin-left: 30px;
    border-radius: 20px;
    background-color: #FFFFFF;
    header { padding-bottom: 30px }
    ul {
      max-height: calc(100% - 8px * 2 - 30px);
      overflow-y: auto;
      li {
        padding: 5px 0 5px 30px;
        .subtitle { padding-top: 0; }
        &:hover { background-color: $secondary; }
      }
    }
    .alert-red { @include alerts-color(#B00000); }
    .alert-yellow { @include alerts-color(#B19000); }
    .alert-cyan { @include alerts-color(#33B3B3); }
    .alert-blue { @include alerts-color(#0070B0); }
    .alert-grey { @include alerts-color(#A0A0A0); }
  }
}