//
// Middle column - Main
//

.main {
  -webkit-box-shadow: inset 1em 0em 1em -1em rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 1em 0em 1em -1em rgba(0, 0, 0, 1);
  box-shadow: inset 1em 0em 1em -1em rgba(0, 0, 0, 1);
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  .graphic {
    width: calc(75% - 2em * 2);
    padding: 1em 2em 1em 2em;
  }
  .alerts {
    @mixin alerts-color($color) {
      border-left: 0.4rem $color solid;
      transition: 0.2s;
      &:hover { border-left: 0.7rem $color solid; }
    }
    width: 25%;
    padding: 1em 0 0 0;
    section {
      max-height: 80vh;
      overflow-y: auto;
      border-top: 1px $secondary solid;
      border-bottom: 1px $secondary solid;
    }
    li {
      padding: 1em;
      .subtitle { padding-top: 0; }
      &:hover {
        background-color: $secondary;
        transition: 0.2s;
      }
    }
    .alert-red { @include alerts-color(#B00000); }
    .alert-yellow { @include alerts-color(#B19000); }
    .alert-cyan { @include alerts-color(#33B3B3); }
    .alert-blue { @include alerts-color(#0070B0); }
    .alert-grey { @include alerts-color(#A0A0A0); }
  };
  footer {
    background-color: $secondary;
    ul {
      display: flex;
      li { padding: 1rem; }
    }
  }
}