//
// Left column - Navbar
//

.navbar {
  background-color: $primary;
  color: #EEEEEE;
  header { padding: 1rem 0 1rem 0; }
  li {
    border-top: 1px #999 solid;
    &:hover {
      background-color: $alt;
      transition: 0.2s;
    }
  }
}