//
// Left column - Navbar
//

.navbar {
  background: linear-gradient(220deg, $primary,#111111);
  color: #EEEEEE;
  header { padding: 30px 0; }
  nav {
    li { padding: 10px 10px 10px 40px; }
    .sensors {
      position: relative;
      &::before {
        display: inline-block;
        content: '';
        background-image: url('../../img/view_list-black-18dp.svg');
        background-size: 25px 25px;
        height: 25px;
        width: 25px;
        position: absolute;
      }
    }
  }
}