body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Titillium";
  src: url("../font/TitilliumWeb-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../font/TitilliumWeb-Regular.eot?#iefix") format("embedded-opentype"), url("../font/TitilliumWeb-Regular.otf") format("opentype"), url("../font/TitilliumWeb-Regular.ttf") format("truetype"), url("../font/TitilliumWeb-Regular.woff") format("woff"), url("../font/TitilliumWeb-Regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
* {
  transition: 0.2s;
}
*::-webkit-scrollbar-track {
  background-color: #EEEEEE;
}
*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background-color: #5A5A5A;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #5A5A5A;
}

body {
  font-family: Titillium;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #F5F5F5;
}
@media screen and (max-width: 1350px) {
  body {
    overflow-y: auto;
    height: auto;
    width: 100vw;
  }
}

main {
  display: grid;
  grid-template-columns: 15vw 85vw;
  grid-template-rows: 100vh;
  grid-template-areas: ". .";
}
@media screen and (max-width: 1350px) {
  main {
    width: 100vw;
    grid-template-columns: 100vw;
    grid-template-rows: 55px calc(100vh - 55px);
    grid-template-areas: "." ".";
  }
}
@media screen and (max-width: 1350px) {
  main {
    display: flex;
    flex-flow: row wrap;
  }
}

.navbar-left {
  background: linear-gradient(220deg, #333333, #111111);
  color: #EEEEEE;
  position: relative;
}
@media screen and (max-width: 1350px) {
  .navbar-left {
    display: none;
  }
}
.navbar-left header {
  padding: 30px 0;
  text-align: center;
}
.navbar-left li {
  margin: 20px 0 20px 70px;
}
.navbar-left li:hover {
  color: #AAAAAA;
}
.navbar-left .nav-sensors {
  position: relative;
}
.navbar-left .nav-sensors::before {
  content: "";
  background-image: url("../../img/view_list-black-18dp.svg");
  background-size: 25px 25px;
  height: 25px;
  width: 25px;
  position: absolute;
  left: -40px;
}
.navbar-left .nav-account {
  position: relative;
}
.navbar-left .nav-account::before {
  content: "";
  background-image: url("../../img/person-black-18dp.svg");
  background-size: 25px 25px;
  height: 25px;
  width: 25px;
  position: absolute;
  left: -40px;
}
.navbar-left .nav-logout {
  position: relative;
}
.navbar-left .nav-logout::before {
  content: "";
  background-image: url("../../img/exit_to_app-black-18dp.svg");
  background-size: 25px 25px;
  height: 25px;
  width: 25px;
  position: absolute;
  left: -40px;
}
.navbar-left footer {
  width: 100%;
  position: absolute;
  bottom: 30px;
  text-align: center;
}

.navbar-top {
  display: none;
  position: fixed;
  top: 0;
  height: 55px;
  width: calc(100vw - 30px * 2);
  background-color: #333333;
  color: #EEEEEE;
  line-height: 55px;
  padding: 0 30px;
}
@media screen and (max-width: 1350px) {
  .navbar-top {
    display: block;
  }
}
@media screen and (max-width: 550px) {
  .navbar-top {
    display: none;
  }
}
.navbar-top h2 {
  float: left;
}
.navbar-top ul {
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
}
.navbar-top ul li {
  padding: 0 10px;
  margin-left: 15px;
}
.navbar-top ul li:hover {
  background-color: #5A5A5A;
}

.navbar-mobile {
  display: none;
  position: fixed;
  bottom: 0;
  height: 55px;
  width: 100vw;
  background-color: #333333;
  color: #EEEEEE;
}
@media screen and (max-width: 550px) {
  .navbar-mobile {
    display: block;
  }
}
.navbar-mobile ul {
  height: 100%;
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
}
.navbar-mobile ul li {
  position: relative;
  height: 100%;
}
.navbar-mobile ul li img {
  height: 40px;
  width: 40px;
}

.main {
  display: flex;
  flex-flow: row wrap;
  height: calc(100vh - 30px * 2);
  width: calc(85vw - 30px * 2);
  padding: 30px;
  position: relative;
}
@media screen and (max-width: 1350px) {
  .main {
    height: calc(100vh - 30px * 2 - 55px);
    width: calc(100vw - 30px * 2);
    margin-top: 55px;
    overflow-y: auto;
  }
}
@media screen and (max-width: 550px) {
  .main {
    height: calc(100vh - 30px * 2 - 55px - 50px);
    width: calc(100vw - 10px * 2);
    padding: 30px 10px;
    margin: 0 0 55px 0;
  }
}
.main .sensors {
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
  overflow-x: auto;
}
@media screen and (max-width: 550px) {
  .main .sensors {
    margin: 0;
  }
}
.main .sensors .card {
  padding: 10px;
}
.main .sensors ul {
  white-space: nowrap;
  display: flex;
}
.main .sensors ul li {
  height: 20px;
  line-height: 20px;
  margin-right: 10px;
}
.main .graphic {
  height: calc(100% - 80px - 30px * 2);
  width: calc(70% - 30px * 2);
  overflow: hidden;
}
@media screen and (max-width: 1350px) {
  .main .graphic {
    height: calc(100% - 80px - 30px * 2 - 55px);
  }
}
@media screen and (max-width: 1150px) {
  .main .graphic {
    width: calc(60% - 30px * 2);
  }
}
@media screen and (max-width: 900px) {
  .main .graphic {
    height: auto;
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .main .graphic {
    margin-top: 30px;
  }
}
.main .graphic h1 {
  padding-bottom: 30px;
}
.main .graphic input, .main .graphic select {
  display: inline;
}
.main .graphic label {
  display: inline-block;
  width: 100px;
}
.main .graphic canvas {
  margin-top: 30px;
}
.main .alerts {
  height: calc(100% - 80px - 30px * 2);
  width: calc(30% - 30px * 2 - 30px);
  margin-left: 30px;
  border-radius: 20px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 1350px) {
  .main .alerts {
    height: calc(100% - 80px - 30px * 2 - 55px);
  }
}
@media screen and (max-width: 1150px) {
  .main .alerts {
    width: calc(40% - 30px * 3);
  }
}
@media screen and (max-width: 900px) {
  .main .alerts {
    height: 50%;
    width: 100%;
    margin: 30px 0 0 0;
  }
}
.main .alerts header {
  padding-bottom: 30px;
  text-align: center;
}
.main .alerts ul {
  max-height: calc(100% - 8px * 2 - 30px);
  overflow-y: auto;
}
@media screen and (max-width: 550px) {
  .main .alerts ul {
    max-height: calc(100% - 15px * 2 - 30px);
  }
}
.main .alerts ul li {
  padding-left: 30px;
}
.main .alerts ul li h2 {
  padding-top: 5px;
}
.main .alerts ul li h3 {
  padding-bottom: 5px;
}
.main .alerts ul li:hover {
  background-color: #EEEEEE;
  border-width: 10px;
}
.main footer {
  display: none;
  height: 25px;
  width: 100%;
  line-height: 25px;
  margin-top: 30px;
  text-align: center;
}
@media screen and (max-width: 1350px) {
  .main footer {
    display: block;
  }
}

.alerts-popup {
  display: none;
  position: fixed;
  width: 600px;
  top: 20%;
  left: 50%;
  margin-left: calc(-300px - 20px);
  padding: 30px;
  border-radius: 20px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 10px 10px 0px 1000em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 0px 1000em rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0px 1000em rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 1150px) {
  .alerts-popup {
    text-align: center;
    width: 500px;
    margin-left: calc(-250px - 16px * 2);
  }
}
@media screen and (max-width: 900px) {
  .alerts-popup {
    width: 400px;
    margin-left: calc(-200px - 16px * 2);
  }
}
@media screen and (max-width: 550px) {
  .alerts-popup {
    width: 300px;
    margin-left: calc(-150px - 16px * 2);
  }
}
.alerts-popup h2 {
  text-align: center;
}
.alerts-popup header {
  display: flex;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1150px) {
  .alerts-popup header {
    flex-flow: row wrap;
    justify-content: center;
    height: auto;
    line-height: inherit;
    text-align: center;
    margin-bottom: 0;
  }
  .alerts-popup header h2 {
    width: 100%;
    order: 2;
  }
  .alerts-popup header h1 {
    width: 100%;
    order: 1;
  }
}

.alert-red {
  border-left: 6px #B00000 solid;
}

.alert-yellow {
  border-left: 6px #B19000 solid;
}

.alert-cyan {
  border-left: 6px #33B3B3 solid;
}

.alert-blue {
  border-left: 6px #0070B0 solid;
}

.alert-grey {
  border-left: 6px #A0A0A0 solid;
}

.title {
  font-size: 24px;
}

.mobile-title {
  display: none;
  height: 50px;
  width: 100vw;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  background-color: #333333;
}
@media screen and (max-width: 550px) {
  .mobile-title {
    display: block;
  }
}

.card {
  padding: 30px;
  border-radius: 20px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px -10px rgba(50, 50, 50, 0.45);
  -moz-box-shadow: 0px 0px 20px -10px rgba(50, 50, 50, 0.45);
  box-shadow: 0px 0px 20px -10px rgba(50, 50, 50, 0.45);
}
@media screen and (max-width: 550px) {
  .card {
    padding: 20px;
  }
}

.disable {
  pointer-events: none;
}

.no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*# sourceMappingURL=style.css.map */
