@use "remove-default";
@import "font-face";
@import "colors";
@import "breakpoints";

* {
  transition: 0.2s;
  &::-webkit-scrollbar-track { background-color: $secondary; }
  &::-webkit-scrollbar
  {
    height: 6px;
    width: 6px;
    background-color: $alt;
  }
  &::-webkit-scrollbar-thumb
  {
    border-radius: 5px;
    background-color: $alt;
  }
}

body {
  font-family: Titillium;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #F5F5F5;
  @include breakpoint-large {
    overflow-y: auto;
    height: auto;
    width: 100vw;
  }
}

// Website layout
.grid-layout {
  display: grid;
  grid-template-columns: 15vw 85vw;
  grid-template-rows: 100vh;
  grid-template-areas:
    ". .";
  @include breakpoint-large {
    width: 100vw;
    grid-template-columns: 100vw;
    grid-template-rows: 55px calc(100vh - 55px);
    grid-template-areas:
    "."
    ".";
  }
  @include breakpoint-large {
    display: flex;
    flex-flow: row wrap;
  }
}

// Website navbar
@import "nav";

// Website main content
@import "main";

// Alerts popup
@import "popup";

// Generic css class
.alert-red { border-left: 6px $alert-red solid; }
.alert-yellow { border-left: 6px $alert-yellow solid; }
.alert-cyan { border-left: 6px $alert-cyan solid; }
.alert-blue { border-left: 6px $alert-blue solid; }
.alert-grey { border-left: 6px $alert-grey solid; }
.title { font-size: 24px; }
.mobile-title {
  display: none;
  height: 50px;
  width: 100vw;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  background-color: $primary;
  @include breakpoint-mobile { display: block; }
}
.card {
  padding: 30px;
  border-radius: 20px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px -10px rgba(50,50,50,0.45);
  -moz-box-shadow: 0px 0px 20px -10px rgba(50,50,50,0.45);
  box-shadow: 0px 0px 20px -10px rgba(50,50,50,0.45);
  @include breakpoint-mobile { padding: 20px; }
}
.disable { pointer-events: none; }
.no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}