body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Titillium";
  src: url("../font/TitilliumWeb-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../font/TitilliumWeb-Regular.eot?#iefix") format("embedded-opentype"), url("../font/TitilliumWeb-Regular.otf") format("opentype"), url("../font/TitilliumWeb-Regular.ttf") format("truetype"), url("../font/TitilliumWeb-Regular.woff") format("woff"), url("../font/TitilliumWeb-Regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
* {
  transition: 0.2s;
}
*::-webkit-scrollbar-track {
  background-color: #EEEEEE;
}
*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background-color: #5A5A5A;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #5A5A5A;
}

body {
  font-family: Titillium;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #F5F5F5;
}
@media screen and (max-width: 1350px) {
  body {
    overflow-y: auto;
    height: auto;
    width: 100vw;
  }
}

.grid-layout {
  display: grid;
  grid-template-columns: 15vw 85vw;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
}
@media screen and (max-width: 1350px) {
  .grid-layout {
    height: auto;
    width: 100vw;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 1fr;
    grid-template-areas: ".";
  }
}
@media screen and (max-width: 1350px) {
  .grid-layout {
    display: flex;
    flex-flow: row wrap;
  }
}

.navbar {
  background: linear-gradient(220deg, #333333, #111111);
  color: #EEEEEE;
  position: relative;
}
@media screen and (max-width: 1350px) {
  .navbar {
    display: none;
  }
}
.navbar header {
  padding: 30px 0;
  text-align: center;
}
.navbar nav {
  height: calc(100vh - 30 * 4 - 10 * 8);
  width: 15vw;
}
.navbar nav li {
  padding: 10px 10px 10px 40px;
}
.navbar nav .sensors {
  position: relative;
}
.navbar nav .sensors::before {
  display: inline-block;
  content: "";
  background-image: url("../../img/view_list-black-18dp.svg");
  background-size: 25px 25px;
  height: 25px;
  width: 25px;
  position: absolute;
}
.navbar footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 30px 0;
  text-align: center;
}

.navbar-top {
  display: none;
}
@media screen and (max-width: 1350px) {
  .navbar-top {
    display: block;
    position: fixed;
    top: 0;
    height: 55px;
    width: calc(100vw - 30px * 2);
    background-color: #333333;
    color: #EEEEEE;
    line-height: 55px;
    padding: 0 30px;
  }
  .navbar-top h1 {
    float: left;
  }
  .navbar-top ul {
    white-space: nowrap;
    display: flex;
    justify-content: flex-end;
  }
  .navbar-top ul li {
    padding: 0 10px;
    margin-left: 15px;
  }
  .navbar-top ul li:hover {
    background-color: #5A5A5A;
  }
}
@media screen and (max-width: 550px) {
  .navbar-top {
    display: none;
  }
}

.navbar-mobile {
  display: none;
}
@media screen and (max-width: 550px) {
  .navbar-mobile {
    display: block;
    position: fixed;
    bottom: 0;
    height: 55px;
    width: 100vw;
    background-color: #333333;
    color: #EEEEEE;
  }
  .navbar-mobile h1 {
    float: left;
  }
  .navbar-mobile ul {
    white-space: nowrap;
    display: flex;
    justify-content: space-around;
    line-height: 55px;
    margin: auto 0;
  }
  .navbar-mobile ul li {
    padding: 0 10px;
  }
  .navbar-mobile ul li:hover {
    background-color: #5A5A5A;
  }
}

.main {
  display: flex;
  flex-flow: row wrap;
  height: calc(100vh - 30px * 2);
  width: calc(85vw - 30px * 2);
  padding: 30px;
}
@media screen and (max-width: 1350px) {
  .main {
    margin-top: 55px;
    height: calc(100vh - 30px * 2 - 25px - 15px * 2);
    width: calc(100vw - 30px * 2);
    overflow-y: auto;
  }
}
@media screen and (max-width: 550px) {
  .main {
    width: calc(100vw - 10px * 2);
    height: calc(100vh - 30px * 2 - 55px - 50px);
    padding: 30px 10px;
    margin: 0 0 55px 0;
  }
}
.main .card {
  padding: 30px;
  border-radius: 20px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px -10px rgba(50, 50, 50, 0.45);
  -moz-box-shadow: 0px 0px 20px -10px rgba(50, 50, 50, 0.45);
  box-shadow: 0px 0px 20px -10px rgba(50, 50, 50, 0.45);
}
@media screen and (max-width: 550px) {
  .main .card {
    padding: 20px;
  }
}
.main .sensors {
  height: 80px;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 550px) {
  .main .sensors {
    margin: 0;
  }
}
.main .sensors .card {
  padding: 20px;
}
.main .sensors ul {
  white-space: nowrap;
  display: flex;
}
.main .sensors ul li {
  margin-right: 10px;
}
.main .sensors ul li:hover {
  background-color: #EEEEEE;
}
.main .graphic {
  height: calc(100% - 80px - 30px * 3);
  width: calc(70% - 30px * 2);
  overflow: hidden;
}
@media screen and (max-width: 1350px) {
  .main .graphic {
    width: calc(70% - 30px * 2);
  }
}
@media screen and (max-width: 1150px) {
  .main .graphic {
    width: calc(60% - 30px * 2);
  }
}
@media screen and (max-width: 900px) {
  .main .graphic {
    height: auto;
    width: calc(100% - 30px * 2);
  }
}
@media screen and (max-width: 550px) {
  .main .graphic {
    width: 100%;
    margin-top: 30px;
  }
}
.main .alerts {
  height: calc(100% - 80px - 30px * 3);
  width: calc(30% - 30px * 3);
  margin-left: 30px;
  border-radius: 20px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 1350px) {
  .main .alerts {
    width: calc(30% - 30px * 3);
  }
}
@media screen and (max-width: 1150px) {
  .main .alerts {
    width: calc(40% - 30px * 3);
  }
}
@media screen and (max-width: 900px) {
  .main .alerts {
    height: calc(50% - 80px - 30px * 3);
    width: calc(100% - 30px * 2);
    margin: 30px 0 0 0;
  }
}
@media screen and (max-width: 550px) {
  .main .alerts {
    height: 50%;
    width: 100%;
  }
}
.main .alerts header {
  padding-bottom: 30px;
  text-align: center;
}
.main .alerts ul {
  max-height: calc(100% - 8px * 2 - 30px);
  overflow-y: auto;
}
@media screen and (max-width: 550px) {
  .main .alerts ul {
    max-height: calc(100% - 13px * 2 - 30px);
  }
}
.main .alerts ul li {
  padding: 5px 0 5px 30px;
}
.main .alerts ul li .subtitle {
  padding-top: 0;
}
.main .alerts ul li:hover {
  background-color: #EEEEEE;
}
.main .alerts .alert-red {
  border-left: 6px #B00000 solid;
  transition: 0.2s;
}
.main .alerts .alert-red:hover {
  border-left: 10px #B00000 solid;
}
.main .alerts .alert-yellow {
  border-left: 6px #B19000 solid;
  transition: 0.2s;
}
.main .alerts .alert-yellow:hover {
  border-left: 10px #B19000 solid;
}
.main .alerts .alert-cyan {
  border-left: 6px #33B3B3 solid;
  transition: 0.2s;
}
.main .alerts .alert-cyan:hover {
  border-left: 10px #33B3B3 solid;
}
.main .alerts .alert-blue {
  border-left: 6px #0070B0 solid;
  transition: 0.2s;
}
.main .alerts .alert-blue:hover {
  border-left: 10px #0070B0 solid;
}
.main .alerts .alert-grey {
  border-left: 6px #A0A0A0 solid;
  transition: 0.2s;
}
.main .alerts .alert-grey:hover {
  border-left: 10px #A0A0A0 solid;
}

.title {
  font-size: 24px;
}

.mobile-title {
  display: none;
}
@media screen and (max-width: 550px) {
  .mobile-title {
    display: block;
    height: 50px;
    width: 100vw;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    background-color: #333333;
  }
}

.col {
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.text-center {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
