@use "remove-default";
@import "font-face";
@import "colors";
@import "breakpoints";

body {
  font-family: Titillium;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: 0.2s;
  background-color: #F5F5F5;
}

// Website layout
.grid-layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". .";
}

// Left column - Navbar
@import "nav";

// Middle column - Main
@import "main";

// Generic css class
.title { font-size: 24px; }
.col { position: relative; }
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.text-center { text-align: center; }