@use "remove-default";
@import "font-face";
@import "colors";
@import "breakpoints";

body {
  font-family: Titillium;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

// Website layout
.grid-layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". .";
}

// Left column - Navbar
@import "nav";

// Middle column - Main
@import "main";

// Generic css class
.title { font-size: 1.6em; }
.col {
  position: relative;
  li { padding: 0.5em 0.8em 0.5em 0.8em; }
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.text-center { text-align: center; }