//
// Website font
//

@font-face {
  font-family: "Titillium";
  src: url("../font/TitilliumWeb-Regular.eot"); /* IE9 Compat Modes */
  src: url("../font/TitilliumWeb-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../font/TitilliumWeb-Regular.otf") format("opentype"), /* Open Type Font */
  url("../font/TitilliumWeb-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../font/TitilliumWeb-Regular.woff") format("woff"), /* Modern Browsers */
  url("../font/TitilliumWeb-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}