//
// Left column - Navbar
//

.navbar {
  background-color: $color-primary;
  color: #EEEEEE;
  li { border-top: 1px #999 solid; }
  li:hover {
    background-color: $color-alt;
    transition: 0.2s;
  }
}