//
// Middle column - Main
//

.main {
  -webkit-box-shadow: inset 12px 0px 12px -12px rgba(0, 0, 0, 0.5), inset -12px 0px 12px -12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 12px 0px 12px -12px rgba(0, 0, 0, 0.5), inset -12px 0px 12px -12px rgba(0, 0, 0, 0.5);
  box-shadow: inset 12px 0px 12px -12px rgba(0, 0, 0, 0.5), inset -12px 0px 12px -12px rgba(0, 0, 0, 0.5);
  padding: 1rem 2rem 1rem 2rem;
  footer {
    background-color: $color-secondary;
    ul {
      display: flex;
      li { padding: 1rem; }
    }
  }
}